* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  gap: 2em;
  width: 100%;
  grid-auto-rows: 1fr;
  padding-left: 30px;
}

main>h1 {
  margin: 0 0 25px 55px !important;
  font-size: 50px;
}

div.book {
  text-align: center;
  color: white;
}

div.book>img {
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 15px black;
  transition-duration: 0.5s;
  width: 300px;
}

div.book>img:hover {
  transform: scale(1.05);
}

div.book>img:hover+p {
  text-shadow: 0px 0px 5px white;
}

hr {
  margin: 20px !important;
  border: 1px grey solid !important;
  opacity: 1 !important;
}

main {
  padding-top: 20px;
  background: linear-gradient(45deg, black, rgb(120, 120, 255));
}

@media (max-width: 2000px) {
  section {
    grid-template-columns: repeat(3, 350px);
  }

  div.book>img {
    width: 300px;
  }
}

@media (max-width: 1150px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-left: 0;
  }

  main>h1 {
    margin-bottom: 15px !important;
  }

  main {
    padding-top: 10px;
  }

  div.book>img {
    width: 35vw;
  }
}

@media (max-width: 600px) {
  section {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-left: 0;
  }

  div.book>img {
    width: 50vw;
  }

  main>h1 {
    text-align: center;
    margin: auto auto 30px auto !important;
  }
}