body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, black 15%, #6495ED);
  color: white;
}

main {
  padding-left: 20px;
}

h1 {
  font-family: Arial;
  font-size: 45px;
}

img:first-of-type {
  margin-top: 20px;
  border-radius: 15px;
}

p {
  margin-left: 20px;
  font-size: 25px;
  font-family: Comic Sans MS;
  width: 85%;
}

h3 {
  margin-left: 20px;
  font-size: 27px;
  font-family: Arial;
}

@media (max-width: 1450px) {
  img:first-of-type {
    width: 85%;
  }
}