* {
  box-sizing: border-box;
}

li>a {
  text-decoration: none;
  color: cyan;
  text-shadow: 0px 0px 5px skyblue;
  font-size: 2vw;
  transition-duration: 300ms;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
}

div#intro {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: relative;
}

div#intro>h1 {
  background: linear-gradient(90deg,
      #7199E1,
      #BED6FF,
      white,
      #BED6FF,
      #7199E1,
      #BED6FF,
      white,
      #BED6FF,
      #7199E1);
  background-size: 200% 100%;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  font-size: clamp(30px, 6vmax, 500px);
  text-align: center;

  animation: glow 3.5s infinite linear, hover 4s infinite ease-in-out;
}

h2 {
  font-size: 2.2rem;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 4;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

nav>ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  align-items: center;
}

nav>ul>li {
  margin: 0;
  padding: 4px 10px;
  position: relative;
  font-size: 1.3rem;
  height: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(120%);
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.hidden-text {
  opacity: 0;
  filter: blur (2px);
  transform: translateY(40px);
  transition: all var(--delay);
  transition-timing-function: ease-in;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

#intro>h3 {
  position: absolute;
  top: 25vh;
}

section#introduction-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgb(80, 0, 170), purple);
}

section#introduction-section>img {
  border-radius: 15px;
  animation: hover 3.23s infinite ease-in-out;
  width: clamp(100px, 25vw, 500px)
}

hr {
  margin: 0;
  border: 5px outset grey;
}

h1 {
  font-size: clamp(30px, 6vw, 500px);
  text-align: center;
}

div.introduction-text>p {
  font-size: clamp(1.5rem, 1.7vmax, 4rem);
  margin-bottom: 30px;
  font-family: Roboto;
  color: white;
  text-shadow: 0px 0px 5px rgb(40, 40, 40);
}

div.introduction-text {
  width: 50vw;
}

@keyframes glow {
  from {
    background-position: 100% 50%;
  }

  to {
    background-position: 0% 50%;
  }
}

@keyframes hover {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 950px) {
  section#introduction-section {
    flex-direction: column;
    padding-top: 60px;
  }

  section#introduction-section>div {
    font-size: 7vw;
    text-align: center;
    width: 80%;
  }

  section#introduction-section>img {
    width: 65vw;
    margin-bottom: 60px;
  }
}